{% extends "layout.html" %}
{% load static %}

{% block body %}
<center>
<header class="jumbotron my-4" style="background-color: rgb(233, 228, 220);">
<img src="{% static 'images/forthebanks.png' %}" alt=""><br><br><hr>
<h3>Tarihimiz</h3><hr>
<h5>Kuruluş</h5><hr>
<p>"Malcolm Glazer'ın Manchester United'ı satın almasını protesto eden kulüp" 'FC United'ı tanımlamak için sıklıkla kullanılan bir açıklamadır. "Amerikan işgali" olmadan FC United'ın kurulamayacağından şüphe olmasa da, tek sebep bu değildi.
</p>
<p>Bir Manchester kurumunun, Manchester halkından zorla alınması (çalınması); televizyon kanalları yararına başlama saatlerini değiştiren, 'yeni' taraftarlarıyla tam-koltuklu stadyumlarda ruhsuz şekilde oturup maç izleten ve uçuk bilet fiyatlarıyla halkı futboldan uzaklaştıran iğrenç bir piramidin tepesiydi.
</p>
<p>Mayıs 2005'e kadar bazı taraftarlarımız için zaten bıçak kemiğe dayanmıştı. Glazer'ın işgalinin Rupert Murdoch'unki gibi engellenememesi "son çare" fikrini tekrar diriltti ve FC United'ın tohumları atıldı. Endüstriyelleşmiş ve köhneleşmiş futbola karşı savaşmaya devam etmek isteyen cesur bir grup kurucu "Yönetim Kurulu"nu oluşturdu ve FC United of Manchester'ı kurdu.
</p>
<p>Uzun tartışmaların sonunda başka bir kulübü desteklemek ya da başka bir kulüple birleşmek yerine, tamamen taraftarlarına ait olan demokratik usullerle karar alan bir futbol kulübünün kurulmasına karar verildi. Bugün kulübümüz FC United; "BİZİM KULÜBÜMÜZ,BİZİM KURALLARIMIZ" mentalitesiyle ve dünyanın dört bir köşesinden binlerce taraftarının desteğiyle futbol dünyasındaki anlamlı mücadelesine devam ediyor.
</p>      
<hr>
</header>
</center>
{% endblock body %}