{% extends "layout.html" %}
{% load static %}

{% block body %}
<center>
<header class="jumbotron my-4" style="background-color: rgb(233, 228, 220);">
<img src="{% static 'images/formedia.png' %}" alt=""><br><br>
<h3>İletişim</h3>
<hr>
<table class="table" style="background-color: rgba(255, 253, 249, 0.671); max-width: 35%;">
    <tbody>
        <tr>
        <td>
            <a href="https://twitter.com/FcUnited_Turk"><img class="img-fluid rounded" src="{% static 'images/twitter.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://twitter.com/FcUnited_Turk">FC United of Manchester Twitter (Türkçe)
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="https://twitter.com/FCUnitedMcr"><img class="img-fluid rounded" src="{% static 'images/twitter.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://twitter.com/FCUnitedMcr">FC United of Manchester Twitter (English)
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="http://www.fc-utd.co.uk/index.php"><img class="img-fluid rounded" src="{% static 'images/fcunited.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="http://www.fc-utd.co.uk/index.php">FC United of Manchester Website (English)
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="https://vimeo.com/channels/fcumtv"><img class="img-fluid rounded" src="{% static 'images/fcumtv.jfif' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://vimeo.com/channels/fcumtv">FCUM TV
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="http://fc-radio.co.uk/"><img class="img-fluid rounded" src="{% static 'images/fcumradio.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="http://fc-radio.co.uk/">FCUM RADIO
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="https://www.youtube.com/user/FCUnitedMcr"><img class="img-fluid rounded" src="{% static 'images/youtube.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://www.youtube.com/user/FCUnitedMcr">FC United of Manchester - Youtube
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="https://www.instagram.com/fcutdofmanc/"><img class="img-fluid rounded" src="{% static 'images/instagram.png' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://www.instagram.com/fcutdofmanc/">FC United of Manchester - Instagram
            </a>
        </td>
        </tr>
        <tr>
        <td>
            <a href="https://www.facebook.com/FCUnitedMcr"><img class="img-fluid rounded" src="{% static 'images/facebook.jpg' %}" alt="" height="50" width="50">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="https://www.facebook.com/FCUnitedMcr">FC United of Manchester - Facebook
            </a>
        </td>
        </tr>

        <tr>
        <td>
            <img class="img-fluid rounded" src="{% static 'images/Gmail.ico' %}" alt="" height="50" width="50">
        </td>
        <td style="vertical-align: middle;">
            fcunitedturk@gmail.com 
        </td>
        </tr>
        <tr>
        <td>
            <img class="img-fluid rounded" src="{% static 'images/fcunited.png' %}" alt="" height="50" width="50">
        </td>
        <td style="vertical-align: middle;">
            office@fc-utd.co.uk 
        </td>
        </tr>
    </tbody>
</table>
<hr>

</header>
</center>
{% endblock body %}
