{% extends "layout.html" %}
{% load static %}

{% block body %}
<center>
<header class="jumbotron my-4" style="background-color: rgb(233, 228, 220);">
<img src="{% static 'images/media.png' %}" alt=""><br><br>
<h3>Üyelerimiz/Kulüp Sahipleri</h3>
<hr>
<img src="{% static 'images/Co-owners.png' %}" alt="">
<hr>
<p>FC United'a şuan <b>1847</b> üyesi eş-hissedarlık usulüyle sahip. Ayrıca <b>250</b> çok değerli çocuk üyemiz var!
</p>
<p>Kulübümüzün yönetim kurulu seçimi vb. tüm büyük kararları her bir üyesinin eşit ve demokratik bir şekilde vereceği oylarla alınmaktadır.
</p>
<p>Sen de dünyanın neresinde olursan ol (yıllık sadece 15£ karşılığında) kulübümüzün sahiplerinden/üyelerinden biri olabilirsin! Detaylı bilgi için lütfen <a href="http://www.fc-utd.co.uk/members.php">bu adresi</a> ziyaret edin.
</p>
<hr>
<img src="{% static 'images/Co-owners2.png' %}" alt="">
<hr>
<h3>Kombine Bilet Sahipleri</h3>
<hr>
<img src="{% static 'images/kombine.png' %}" alt="">
<hr>
<p>Bu sezon <b>860</b> yetişkin ve <b>158</b> 18 yaş altı genç/çocuk olmak üzere toplam <b>1018</b> kombine bilet sahibi taraftarımız bulunmaktadır.
</p>
<p>Kombine bilet sahibi olmak için lütfen <a href="http://www.fc-utd.co.uk/story.php?story_id=8328">bu adresi</a> ziyaret edin.
</p>
<hr>
<img src="{% static 'images/kombine-2.png' %}" alt="">
<hr>
</header>
</center>
{% endblock body %}