{% extends "yourclub_layout.html" %}
{% load static %}

{% block body %}
<header class="jumbotron my-4" style="background-color: rgb(233, 228, 220);">
<center>
<img src="{% static 'images/fixturesresults.png' %}" alt=""><br><br>

<section class="w3-white">  
    
    <div class="w3-container">
      
      
        
   <tr><td><h1>FC UNITED OF MANCHESTER</h1><h2>Kadro</h2></td></tr><h2>Teknik Direktörümüz ve Antrenörlerimiz</h2></td></tr><tr><td><table class="w3-padding"><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/NeilReynolds.jpg' %}" style="width:200px;" alt="Neil Reynolds"><br>Neil Reynolds
                            
        </div>
      
    &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/RICHARDSON_Brian.jpg' %}" style="width:200px;" alt="Brian Richardson"><br>Brian Richardson
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/CHADWICK_Dave.jpg' %}" style="width:200px;" alt="Dave Chadwick"><br>Dave Chadwick
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Matty Clarkson"><br>Matty Clarkson
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/FAULKNER_Mike.jpg' %}" style="width:200px;" alt="Mike Faulkner"><br>Mike Faulkner
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/CHAPMAN_Paul.jpg' %}" style="width:200px;" alt="Paul Chapman"><br>Paul Chapman
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/DEADMAN_James.jpg' %}" style="width:200px;" alt="James Deadman"><br>James Deadman
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/SMITH_Olivia.jpg' %}" style="width:200px;" alt="Olivia Smith"><br>Olivia Smith
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr></tr></table></td></tr><h2>Kalecilerimiz</h2></td></tr><tr><td><table class="w3-padding"><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/BELFORD_Cameron.jpg' %}" style="width:200px;" alt="Cameron Belford"><br>Cameron Belford
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/WALKER_Mason.jpg' %}" style="width:200px;" alt="Mason Walker"><br>Mason Walker
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr></table></td></tr><h2>Defanslarımız</h2></td></tr><tr><td><table class="w3-padding"><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Lewis Lacy"><br>Lewis Lacy
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/JONES_Curtis.jpg' %}" style="width:200px;" alt="Curtis Jones"><br>Curtis Jones
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/DODD_Adam.jpg' %}" style="width:200px;" alt="Adam Dodd"><br>Adam Dodd
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/DOYLE_Chris.jpg' %}" style="width:200px;" alt="Chris Doyle"><br>Chris Doyle
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/MORRIS_Aaron.jpg' %}" style="width:200px;" alt="Aaron Morris"><br>Aaron Morris
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/KERR_Ben.jpg' %}" style="width:200px;" alt="Ben Kerr"><br>Ben Kerr
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr></table></td></tr><h2>Orta Sahamız</h2></td></tr><tr><td><table class="w3-padding"><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/POTTS_Mike.jpg' %}" style="width:200px;" alt="Mike Potts"><br>Mike Potts
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/GRIFFITHS_Luke.jpg' %}" style="width:200px;" alt="Luke Griffiths"><br>Luke Griffiths
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/ENNIS_Paul.jpg' %}" style="width:200px;" alt="Paul Ennis"><br>Paul Ennis
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/LENEHAN_Jack.jpg' %}" style="width:200px;" alt="Jack Lenehan"><br>Jack Lenehan
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/CURRAN_Alex.jpg' %}" style="width:200px;" alt="Alex Curran"><br>Alex Curran
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Dylan Blackledge"><br>Dylan Blackledge
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Finlay Sinclair-Smith"><br>Finlay Sinclair-Smith
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Matthew Elsdon"><br>Matthew Elsdon
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr></tr></table></td></tr><h2>Forvetlerimiz</h2></td></tr><tr><td><table class="w3-padding"><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/DONOHUE_Michael.jpg' %}" style="width:200px;" alt="Michael Donohue"><br>Michael Donohue
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/LINNEY_Regan.jpg' %}" style="width:200px;" alt="Regan Linney"><br>Regan Linney
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/OWOLABI_Tunde.jpg' %}" style="width:200px;" alt="Tunde Owolabi"><br>Tunde Owolabi
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Christopher Almond"><br>Christopher Almond
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr><tr><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Kyle Hawley"><br>Kyle Hawley
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td><td class="w3-padding"><div>
      
      <div class="w3-card-4 w3-leftbar w3-border-red w3-light-grey w3-large w3-center" style="width:206px;">
                        
      <img src="{% static 'images/space.jpg' %}" style="height:267px; width:200px;" alt="Morgan Homson-Smith"><br>Morgan Homson-Smith
                            
        </div>
      
      &nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr></table>
   
  
  <br><br>
  
      
       
  </div> 
        
  
  </section>

  </center>
</header>
{% endblock body %}