{% extends "yourclub_layout.html" %}
{% load static %}

{% block body %}
<header class="jumbotron my-4" style="background-color: rgb(233, 228, 220);">
<center>
<img src="{% static 'images/broadhurstpark1.png' %}" alt=""><br><br>
<h1>EVİMİZ : BROADHURST PARK</h1>
<h3>Adres: 310 Lightbowne Rd, Moston, Manchester, M40 0FJ</h3>
<h3>Kapasite: 4,400</h3>
<hr>
<h4>Evimizi Tanıyalım</h4>
<p>Broadhurst Park, İngiltere’nin en yeni ve taraftarlara ait bir futbol kulübü tarafından inşa ve finanse edilen ilk stadyumu.
</p>
<p>Evimiz; futbol taraftarlarının bir vizyon ortaya koyarak birlikte neleri başarabileceğinin en güzel ve en güncel örneklerinden biri. FC United üyeleri Broadhurst Park'ın tasarım ve yapım sürecinde her aşamada yer aldı ve sonuçta bu güzel futbol mabed ortaya çıktı.
</p>
<p>FC Business Magazine tarafından ülkenin yeni inşa edilmiş en iyi alt-lig stadyumu olarak nitelendirilen Broadhurst Park, aynı zamanda eşsiz bir yeşil alan. FC United, £ 4,000 Grow Wild topluluk projesi ödülünü kazandıktan sonra İngiltere'de ilk polen-dostu futbol stadyumunu yaratmaya çalışıyor.
</p>
<p>Bir "topluluk" (community) tesisi olarak, Broadhurst Park her gün yerel halk tarafından kullanılıyor ve çeşitli spor ve eğlence aktivitelerine ev sahipliği yapıyor. Yerel topluluk (Manchester Community), işletmeler ve diğer kuruluşların kiralayabileceği iyi donanımlı bir çok-amaçlı-odası ve toplantı alanları da mevcut.
</p>
<p>6,3 milyon £ değerindeki tesisin finansmanı çeşitli kaynaklardan geldi. FC United taraftarları, öncü bir "Topluluk Paylaşım Programı"ndan 2 milyon sterlin topladı ve diğer fon toplama işlemlerinden 1 milyon sterline yakın gelir elde edildi. Ayrıca Sport England (Iconic Facilities Fund), the Football Foundation (FSIF), Football Foundation (Community Facilities Fund), Manchester City Council, Social Investment Business (My Community Rights), Manchester College and Viridor'dan da hibe şeklinde yardım sağlanmıştır.
</p>
<hr>
<img src="{% static 'images/stadium2.png' %}" alt="">
<hr>






</center>
</header>
{% endblock body %}